<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-5" th:fragments="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Todo App</a>
            <div class="collapse navbar-collapse" id="navbarCollapse d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 d-flex">
                    <li class="nav-item">
                         <a class="nav-link active" aria-current="page">Home</a>
                    </li>
                </ul>
                <div class="d-flex" >
                    <ul class="navbar-nav me-auto mb-2 mb-md-0" th:if="${names == null}">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/signIn}" aria-current="page">SignIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/pages/login}">LogIn</a>
                        </li >
                        <li class="nav-item">
                            <p>[[${names}]]</p>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-md-0" th:if="${names != null}">
                        <li class="nav-item">
                             <span class="nav-link active text-white" th:text="${'Hi ,' + names}"></span>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link active">Logout</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


