<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head"></head>
<body>
<nav th:replace="/fragments/nav"></nav>
<div class="login-form description">
    <div th:object ="${task}">
            <div>
                <div class="form-group">
                    <h5 class="mb-2">Title:</h5>
                    <p class="text-dark" th:text="*{title}"></p>
                </div>
                <div class="form-group">
                    <h5 class="mb-2">Description</h5>
                    <p class="text-dark" th:text="*{description}"></p>

                </div>

                <div class="form-group">
                    <h5 class="mb-2">Created At:</h5>
                    <p class="text-dark" th:text="*{createdDate}"></p>

                </div>
                <div class="form-group">
                    <h5 class="mb-2">Ended At</h5>
                    <p class="text-dark" th:text="*{endDate}"></p>
                </div>
            </div>
    </div>
</div>
</body>
</html>